{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}
{% block body %}
    <h1>User edit</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}

    <div style="text-align: center">    <button type="submit" class="btn btn-success"> <span class="fa fa-edit"> </span> Edit</button></div>
    {{ form_end(edit_form) }}
    <br>
    {{ form_start(delete_form) }}
    <div style="text-align: center">   <button type="submit" class="btn btn-danger btn-group-sm"> <span class="fa fa-remove"  ></span> Remove</button>
        {{ form_end(delete_form) }}


    </div>
{% endblock %}
