{% extends 'base.html.twig' %}

{% block title %}Users{% endblock %}
{% block body %}
    <h2>Users list</h2>
    
    <table id="myTable" class="table">
        <thead>
            <tr>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Email</th>
                <th>Roles</th>
                <th>Username</th>

                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.firstname }}</td>
                <td>{{ user.lastname }}</td>
                <td>{{ user.email }}</td>
                <td>{% for a in  user.roles %}
                        {% if  a  in 'ROLE_USER'  %}
                            USER
                        {% else %}
                            ADMIN
                        {% endif %}
                    {% endfor %}
                </td>
                <td>{{ user.username }}</td>

                <td>
                    <a href="{{ path('user_show', { 'id': user.id }) }}"  class="glyphicon glyphicon-search" title="details"></a>
                    &nbsp; &nbsp;
                    <a href="{{ path('user_edit', { 'id': user.id }) }}" title="edit" class="glyphicon glyphicon-pencil"></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

            <a class="btn btn-default btn-lg" href="{{ path('user_new') }}"><span class="glyphicon glyphicon-plus"></span> Add  </a>
     
    {% block javascripts %}
        <script src="{{ asset('public/js/index.js') }}"></script>
    {% endblock %}
{% endblock %}
